<% provide(:title, "О нас") %>
<div id="uppera">
  <div id="about">
    <%= image_tag("dezi.jpg") %>
    <h1><span class="ec ec-mag-right"></span> О предприятии </h1>
    <p><b>1 августа 1974 года</b> приказом МЗ ЧАССР в городе Чебоксары организована самостоятельная дезинфекционная станция 2-ой категории. Главным врачом дезстанции был назначен Сергеев К.А. По специальным вопросам дезстанция подчинялась республиканской санэпидстанции ЧАССР, по общим вопросам отделу здравоохранения Чебоксарского горисполкома.
    </p>
  </div>
  <div id="about">
  <h2><span class="ec ec-pushpin"></span> <b>Основными задачами дезстанции являлись:</b>
  </h2>
  <p>
∙эвакуация инфекционных больных из очагов;<br>
∙проведение заключительных дезинфекций в очагах инфекционных заболеваний;<br>
∙осуществление государственного санитарного контроля за соблюдением санитарно-противоэпидемического режима в лечебно- профилактических, дошкольных, школьных учреждениях и других организованных коллективах;<br>
∙проведение дезинфекционных, дезинсекционных и дератизационных работ (на хоздоговорной основе) на объектах народного хозяйства.<br>
В структуре дезстанции были образованы отделы эвакуации инфекционных больных, очаговой дезинфекции, профилактической дезинфекции, санитарный санпропускник, дезкамерное отделение и химическая лаборатория исследования дезинфекционных средств.
</p>
</div>
<div id="about"><p>
Дезинфекционная станция размещалась на площадях отделов профилактической и очаговой дезинфекции Чебоксарской городской санэпидстанции. Транспортное обеспечение осуществлялось из объединенного гаража городской санэпидстанции, где за дезстанцией были закреплены передвижная дезинфекционно-душевая установка на базе автомашины ГАЗ-51 и 3 санитарные автомашины для эвакуации инфекционных больных и проведения дезинфекционных работ в очагах.
  </p></div>
<div id="about"><p>
С 1979 года главным врачом дезинфекционной станции г.Чебоксары был назначен Федотов Ю.А.
  </p></div>
<div id="about"><p>
В 1984 году дезстанция получила здание бывшей районной котельной в Новоюжном районе г.Чебоксары для реконструкции его в здание городского санитарного пропускника и размещения подразделений дезстанции.
  </p></div>
<div id="about"><p>
  Работы по реконструкции завершились в 1990 году, общая площадь помещений дезстанции составила <br>1000 кв.м.</br> На этих площадях разместились следующие структурные подразделения дезстанции: отдел профилактической дезинфекции с дератизационной лаботаторией, дезкамерное отделение, санитарный пропускник с помывочным залом на 10 душевых сеток. Дезкамерное отделение стало располагать полным набором помещений, была смонтирована стационарная дезинфекционная камера КДФ-3 с автономным электрическим парогенератором, кроме этого десзстанция имела передвижную и электрическую стационарную дезкамеры. Отделы очаговой и профилактической дезинфекции также стали располагать требуемым набором бытовых помещений. Лаборатория приготовления дератизационных приманок разместилась с полным набором производственных и бытовых помещений.
  </p></div>
<div id="about"><p>
Завершение реконструкции здания дезстанции совпало с изменениями в структуре санитарно-эпидемиологической службы ЧССР. В сентябре 1991 года было организовано Чувашское медицинское санитарно- профилактическое объединение Министерства здравоохранения ЧССР. Отделение профилактической дезинфекции ЧМСПО было переведено в дезинфекционную станцию, главный врач дезстанции был назначен заместителем главного врача ЧМСПО по вопросам профилактической дезинфекции, углубилось взаимодействие дезинфекционной станции с ЧМСПО, дезстанция вышла из административного подчинения отдела здравоохранения Чебоксарского горисполкома и стала во всех отношениях подчиняться ЧМСПО.
  </p></div>
<div id="about"><p>
Следующим этапом в развитии санитарно-эпидемиологической службы республики явилась реализация Закона РСФСР «О санитарно- эпидемиологическом благополучии населения» и «Положения о Государственной санитарно-эпидемиологической службе РСФСР».
  </p></div>
<div id="about"><p>
В выполнении основных функций госсанэпидслужбы активно участвовала дезинфекционная станция, а именно осуществляла государственный санитарно-эпидемиологической надзор, а также участвовала в выполнении противоэпидемических мероприятий.
  </p></div>
<div id="about"><p>
В 1993 году Главным Государственным санитарным врачом Чувашской Республики было утверждено «Положение о дезинфекционной станции города Чебоксары», в котором деятельность дезстанции рассматривалась как составная часть деятельности санитарно-зпидемиологической службы Чувашской Республики и города Чебоксары. Согласно этого Положения дезстанция начала осуществлять организационно-методическую работу по вопросам очаговой дезинфекции и стерилизации в масштабе всей Чувашской Республики. В дезстанцию были переданы штаты специалистов по очаговой дезинфекции ЦГСЭН Чувашской Республики, а на главного врача дезстанции были возложены функции главного специалиста дезинфекционного дела ЦГСЭН Чувашской Республики.
  </p></div>
<div id="about"><p>
В январе 1996 года приказом Центра государственного санитарно- эпидемиологического надзора в Чувашской Республике дезинфекционная станция города Чебоксары была реорганизована в государственное унитарное предприятие дезинфекционного профиля города Чебоксары, учредителем которого стал Центр госсанэпиднадзора в Чувашской Республике. Директором государственного унитарного предприятия дезинфекционного профиля города Чебоксары была назначена Казанцева Т.А.
  </p></div>
<div id="about"><p>
С 01.04.2005г. Государственное унитарное предприятие дезинфекционного профиля г. Чебоксары переименовано в Федеральное государственное унитарное предприятие «Предприятие дезинфекционного профиля г.Чебоксары госанэпиднадзора в Чувашской республике, г.Чебоксары» (приказ от 16.03.2005 года №309).
  </p></div>
<div id="about"><p>
С 16.12.2016 года директором ФГУП «Предприятие дезинфекционного профиля г.Чебоксары госсанэпиднадзора по Чувашской Республике» назначен Пахинов В.Н.</p></div>
<div id="about"><p>
  С 30.05.2018 года врио директора ФГУП «Предприятие дезинфекционного профиля г.Чебоксары госсанэпиднадзора по Чувашской Республике» назначена Сержантова Е.В </p>
  </div>
</div>
</div>
