<% provide(:title, "Контакты") %>
<div id="upperco">
  <div id="contacts">
    <h1><span class="ec ec-open-book"></span> Контакты</h1>
    <h3><span class="ec ec-round-pushpin"></span> Адрес:</h3><p> 428031, Чувашская Республика, г. Чебоксары, ул.Шумилова, 26</p>
    <h3><span class="ec ec-telephone-receiver"></span> Телефоны:<h3>
        <p><a href = "tel:516725">(8352) 51-67-25 (приемная и факс),</a></p>
        <p><a href = "tel:516715">(8352) 51-67-15 (дезинфекционный отдел (круглосуточно)),</p></a>
        <p><a href = "tel:516712">(8352) 51-67-12 (камерная дезинфекция),</a></p>
        <p><a href = "tel:516721">(8352) 52-67-21 (главный бухгалтер),</a></p>
        <p><a href = "tel:516719">(8352) 51-67-19 (бухгалтерия),</a></p>
        <p><a href = "tel:516723">(8352) 51-67-23 (начальник ХО),</a></p>
        <p><a href = "tel:516717">(8352) 51-67-17 (охрана).</a></p>
        <h3><span class="ec ec-clock1"></span> Время работы:</h3>
        <p> с 8.00 до 17.00.</p>
        <p> Выходные: суббота и воскресенье. </p>
        <h3><span class="ec ec-clipboard"></span> Реквизиты:</h3>
        <p>ИНН 2126001870, КПП 213001001</p>
        <p>ОКПО: 35264875, ОКОНХ: 9153</p>
        <p><b>Банк: Чувашское отделение №8613 ПАО Сбербанк г.Чебоксары</b></p>
        <p>Р/счет: 40502810575020000002 </p>
        <p>БИК: 049706609</p>
        <p>К/счет: 30101810300000000609</p>
        <h3><span class="ec ec-e-mail"></span> email:</h3> <a href="mailto:dezprof21@mail.ru">dezprof21@mail.ru</a>
  <p class="naming"><b>Федеральное государственное унитарное предприятие «Предприятие дезинфекционного профиля г. Чебоксары госсанэпиднадзора в Чувашской Республике, г. Чебоксары"</b></p>
  </div> 
</div>
