<% provide(:title, "dezprof21 | Качественная дезинфекция в Чебоксарах") %>
<div class="card">
<div class="blogpost">
  <div class="blog-post_img">
    <%= image_tag("home.jpg")%>
  </div>
  <div class="blog-post_info">
    <h1 class="blog-post_title">
      Почему стоит обратиться именно к нам
    </h1>
    <p class="blog-post_text">
    В условиях пандемии такой ценный ресурс как здоровье ваших сотрудников можно доверить исключительно профессионалам. Наше<b> единственное</b> государственное предприятие в Чувашской Республике вот уже 40 лет предлагает высококачественные услуги по <b>дезинфекции, дезинсекции и дератизации</b> помещений. Нам доверяют многие крупные коммерческие организации, предприятия общественного питания, образовательные учреждения, загородные оздоровительные учреждения (лагеря), ЖКХ, лечебно-профилактические учреждения, ярмарки и рынки, объекты торговли продовольственными и непродовольственными товарами, предприятия промышленности, транспорта, банки, офисы в Чебоксарах,<b> так доверьтесь же нам и вы.</b>
    </p>
    <a href="<%= get_consult_url %>" class="blog-post_cta">Заказать консультацию</a>
  </div>
</div>
</div>
