<% provide(:title, "Специальная оценка условий труда") %>
<div class="doci">
  <h1><span class="ec ec-newspaper-roll"></span> Специальная оценка условий труда</h1>
  <span class="ec ec-page-facing-up"></span> 
  <a target="_blank" href="<%= s1_url %>">Декларация соответствия условий труда</a><br><br>
  <span class="ec ec-page-facing-up"></span> 
  <a target="_blank" href="<%= s2_url %>">Сводная ведомость результатов проведения СОУТ</a><br><br>
  <span class="ec ec-page-facing-up"></span> 
  <a target="_blank" href="<%= s3_url %>">Перечень рабочих мест, на которых проводилась СОУТ</a><br><br>
</div>
