<% provide(:title, "Дезинфекция") %>
<div id="uppera">
<div id="about"><p>
  <%= image_tag("deza.jpg")%>
  <h1> Дезинфекция </h1>
<p>Обезвреживание и уничтожение колоний опасных микроорганизмов — <b>залог здоровья жильцов и сотрудников предприятий.</b> Наше Предприятие принимает заявки на кампании по обработке жилых и производственных помещений по доступным ценам. Профессиональная дезинфекция позволит жителям Чувашской Республики избавиться от плесени, грибка, возбудителей инфекционных заболеваний и других скрытых опасностей. </p></div> 

<div id="about"><p>
<h2><span class="ec ec-bulb"></span> Дезинфекция помещений в Чувашской Республике </h2>
<p>Дезинфекция представляет собой комплекс мер по уничтожению вредных и опасных токсинов, а также возбудителей инфекционных заболеваний. В зависимости от задачи, вы можете заказать очистку помещений с полным уничтожением патогенной микрофлоры, либо довести содержание микроорганизмов до разрешенного санитарными правилами и нормами уровня.
</p>
</div>
<div id="about">
  <h2><span class="ec ec-bulb"></span> Дезинфекция проводится:</h2>
  <p><b>∙в жилых домах,</b> в случае обнаружения инфекционных заболеваний; </p>
  <p><b>∙на предприятиях</b> (образовательные, лечебно-профилактические и другие); </p>
  <p><b>∙в офисах;</b></p>
  <p><b>∙на производстве;</b></p>
  <p><b>∙в складских помещениях.</b></p>
  <p>Многим предприятиям и организациям требуется <b>дезинфекция систем вентиляции и кондиционирования воздуха,</b> которая <b>снижает уровень заболеваемости у сотрудников.</b> Компаниям-перевозчикам мы можем предложить обработку автотранспорта, перевозящего пищевые продукты.</p></div>
<div id="about"><p>
<h2><span class="ec ec-bulb"></span> Как производится обработка объектов </h2>
<p> Наши специалисты знакомятся с характеристиками объекта и составляют подробный план мероприятий. После проведения обработки и проверки ее результативности мы предоставляем заказчикам официальный акт и документы об оплате. С их помощью можно не только предоставить сведения о проведенных работах санитарным службам, но и отнести расходы на дезинфекцию к производственным, учесть их при расчете налогов. </p>
</div>
<div id="about"><p>
  <h2><span class="ec ec-raising-hand-woman"></span> Добро пожаловать к нам! </h2>
  <p> Если вы ищете организацию для проведения <b>профессиональной дезинфекции</b>, мы можем предложить <b>выгодные цены</b> на все виды услуг. При этом качество обработки помещений будет безупречным. Эффективность дезинфекции при помощи современных препаратов успели оценить многие жители и организации Чувашской Республики. Наши специалисты регулярно проходят курсы повышения квалификации, чтобы обеспечить максимально эффективные меры по очистке помещений от опасных микроорганизмов.
  </p> </div> 
<div id="about"><p>
  <p>
  <span class="ec ec-bulb"></span> Немаловажной является и безопасность мероприятий, особенно для помещений, где живут и работают люди. Среди новейших средств, представленных на рынке, наши дезинфекторы всегда выбирают <b>самые экологичные и безопасные</b> для здоровья человека и домашних животных. Профессиональная организация дезинфекции способна предотвратить потери, связанные с распространением грибка, бактерий, вирусов в жилых или производственных помещениях. Мы сделаем ваш дом или офис чище и безопаснее! </p>
</div>
</div>
