<% provide(:title, "Дезинсекция") %>
<div id="uppera">
<div id="about"><p>
  <%= image_tag("dezinc.jpg")%>
  <h1> Дезинсекция </h1>
  <p> Клопы, тараканы, блохи, клещи и прочие паразиты не только доставляют серьезный дискомфорт, но и <b>несут большую опасность здоровью.</b> Профессиональная дезинсекция помещений в Чувашской Республике по <b>доступным ценам</b> — одно из основных направлений деятельности нашего Предприятия. Все работы по уничтожению вредных насекомых мы производим оперативно и с гарантией качества. Ознакомиться с прайсом на дезинсекцию различных насекомых можно в соответствующих разделах сайта. </p></div> 
<div id="about">
  <p><span class="ec ec-bulb"></span><b> Дезинсекция</b> — один из видов обеззараживания, представляющий собой уничтожение насекомых, способных переносить трансмиссивные инфекции. Под дезинсекцией также понимается процедура уничтожения любых насекомых, чьё соседство с человеком считается нежелательным: мухи, комары, тараканы, муравьи, постельные клопы и т. д. </p></div>
<div id="about"><p>
<h2><span class="ec ec-bulb"></span> Дезинсекция квартир и общественных помещений </h2>
<p> Нельзя сказать, кому услуги по уничтожению насекомых нужнее: физическим или юридическим лицам. Конечно, жить с тараканами или клопами более чем неприятно и негигиенично. Но когда из-за насекомых <b>рушится бизнес,</b> а недовольные клиенты грозят судебными исками, <b>под угрозой</b> находятся <b>репутация и материальное благополучие.</b></p>
 </p>
</div>
<div id="about"><p>
<span class="ec ec-bulb"></span>  Обратиться для проведения дезинсекции при необходимости следует и владельцам гостиниц, ресторанов, и даже прорабам на стройке, поскольку в строительных вагончиках также должен соблюдаться нормальный уровень гигиены. А если насекомые появились в больнице или детском саду — меры нужно принимать <b>максимально срочно.</b> </p> </div>
<div id="about"><p>
  <h2> Преимущества обращения к специалистам </h2>
  <p>
  Только специалисты могут <b>грамотно оценить обстановку и точно определить места</b>, где гнездятся насекомые. Также они знают обо всех новых и наиболее эффективных средствах, с высокой точностью рассчитывая необходимую дозировку того или иного препарата. Потому дезинсекция (уничтожение насекомых) с участием профессионалов проводится таким образом, чтобы <b>максимально исключить возможность</b> их повторного появления.
  </p> </div> 
<div id="about"><p>
  <p>
<span class="ec ec-bulb"></span> Химические вещества, используемые для уничтожения вредных насекомых (инсектициды), также должны соответствовать ряду требований: <b>быть сертифицированы, безопасны для людей, и, конечно, эффективны.</b> Обработка должна быть качественной, а срок ее действия — максимально длительным.
  </p>
</div>
<div id="about"><h2><span class="ec ec-open-book"></span> Наши услуги</h2>
  <p>
  Для проведения оперативной и качественной дезинсекции можно просто вызвать сотрудников нашего Предприятия. Обратившись к нам, вы получите <b>профессиональное уничтожение насекомых с гарантией качества.</b> А чтобы предупредить их появление вновь, рекомендуется принять профилактические
меры по истечении гарантийного срока. Еще один отличный вариант — заключить с нами договор на регулярное обслуживание определенных помещений.
  </p></div>
  <div id="about"><p>
    <span class="ec ec-dollar"></span> Стоимость дезинсекции в нашем Предприятии более чем доступная, поскольку все необходимые препараты мы закупаем напрямую у производителей. Наши клиенты с полным правом утверждают, что <b>наше предприятие</b> — это <b>лучшее учреждение Чувашской Республики по уничтожению насекомых дома и в общественных помещениях.</b> Мы гарантируем высокий уровень сервиса и неизменно положительный конечный результат!
    </p></div>
</div>
