<% provide(:title, "Дезинсекция") %>
<div id="d">
  <%= image_tag("dezinc.jpg")%>
  <h1> Дезинсекция </h1>
  <p> Обезвреживание и уничтожение колоний опасных микроорганизмов — залог здоровья жильцов и сотрудников предприятий. Наше Предприятие принимает заявки на кампании по обработке жилых и производственных помещений по доступным ценам. Профессиональная дезинфекция позволит жителям Чувашской Республики избавиться от плесени, грибка, возбудителей инфекционных заболеваний и других скрытых опасностей. </p>
  <h2> Дезинфекция помещений в Чувашской Республике </h2>
  <p> Дезинфекция представляет собой комплекс мер по уничтожению вредных и опасных токсинов, а также возбудителей инфекционных заболеваний. В зависимости от задачи, вы можете заказать очистку помещений с полным уничтожением патогенной микрофлоры, либо довести содержание микроорганизмов до разрешенного санитарными правилами и нормами уровня.
  </p>
  <p><b> Дезинфекция проводится: </b></p>
  <p>∙в жилых домах, в случае обнаружения инфекционных заболеваний; </p>
    <p>∙на предприятиях (образовательные, лечебно-профилактические и другие); </p>
    <p>∙в офисах; </p>
    <p>∙на производстве; </p>
    <p>∙в складских помещениях. </p>
  <p>Многим предприятиям и организациям требуется дезинфекция систем вентиляции и кондиционирования воздуха, которая снижает уровень заболеваемости у сотрудников. Компаниям-перевозчикам мы можем предложить обработку автотранспорта, перевозящего пищевые продукты.</p>
  <h2> Как производится обработка объектов </h2>
  <p> Наши специалисты знакомятся с характеристиками объекта и составляют подробный план мероприятий. После проведения обработки и проверки ее результативности мы предоставляем заказчикам официальный акт и документы об оплате. С их помощью можно не только предоставить сведения о проведенных работах санитарным службам, но и отнести расходы на дезинфекцию к производственным, учесть их при расчете налогов. </p>
  <h2> Добро пожаловать к нам! </h2>
  <p> Если вы ищете организацию для проведения профессиональной дезинфекции, мы можем предложить выгодные цены на все виды услуг. При этом качество обработки помещений будет безупречным. Эффективность дезинфекции при помощи современных препаратов успели оценить многие жители и организации Чувашской Республики. Наши специалисты регулярно проходят курсы повышения квалификации, чтобы обеспечить максимально эффективные меры по очистке помещений от опасных микроорганизмов.
  </p> <br><p>
Немаловажной является и безопасность мероприятий, особенно для помещений, где живут и работают люди. Среди новейших средств, представленных на рынке, наши дезинфекторы всегда выбирают самые экологичные и безопасные для здоровья человека и домашних животных. Профессиональная организация дезинфекции способна предотвратить потери, связанные с распространением грибка, бактерий, вирусов в жилых или производственных помещениях. Мы сделаем ваш дом или офис чище и безопаснее! </p>
</div>
