<% provide(:title, "Дератизация") %>
<div id="d">
  <%= image_tag("dera.jpg") %>
  <h1> Дератизация </h1>
  <p> Если дома или на предприятии вы обнаружили следы грызунов, стоит сразу же обратиться за помощью к профессионалам. Квалифицированные специалисты нашего Предприятия проведут комплексную, эффективную дератизацию помещений в Чувашской Республике по наиболее выгодной стоимости. </p>
  <h2> Чем опасны крысы </h2>
  <p>  Помимо ущерба, нанесенного хозяйству, крысы и другие грызуны являются переносчиками опасных паразитов и болезнетворных бактерий. Конечно же, они не нападают на людей, однако испорченные грызунами продукты питания могут нести опасность для человеческого здоровья.
  <br>
Если возникли подобные проблемы, первым делом нужно позвонить к нам. Специалисты Предприятия подъедут в согласованное совместно с заказчиком место и время, оценят масштабы и степень заражения объекта. После этого будет составлен комплексный план проведения мероприятий по дератизации помещения, стоимость работ и удобное время для приезда бригады. Наше Предприятие работает с учётом всех пожеланий клиента.
<br>
Если вы не уверены, что в вашем доме или офисе есть грызуны, но подозреваете о их существовании (поеденные продукты, посторонние шумы в стене или под полом), наша компания рекомендует перестраховаться. Мы предлагаем комплекс профилактических мероприятий, направленных на препятствование размножению крыс или мышей.</p>
  <h2> Лучшие условия для наших клиентов  </h2>
  <p> Мы гарантируем всем своим клиентам 100% результат. Высококвалифицированные специалисты нашего Предприятия избавят ваш дом от всех видов грызунов. Эффективность проведения дератизации помещения в Чувашской Республики достигается за счёт многолетнего опыта и высокого профессионализма наших сотрудников. Мы используем современное высокотехнологичное оборудование, лучшие инструменты и самые современные химические вещества, безопасные для человеческого организма.
  <br>
К тому же вас приятно удивят наши цены. При необходимости мы можем предоставить все отчётные документы, связанные с расходами. Для большего удобства клиента наше Предприятие предлагает ознакомиться с прайс-листом, в котором указана стоимость всех предоставляемых услуг.
<br>
После выполненных мероприятий по дератизации помещения клиент получает документ, подтверждающий факт предоставления услуги. Наличие такого акта исключает возникновение возможных претензий у санитарных служб, он может быть включён в налоговый учёт как производственные расходы. </p>
</div>
