<% provide(:title, "Камерная обработка") %>
<div id="uppera">
  <div id="about">
  <%= image_tag("kamera.jpg") %>
  <h1> Камерная обработка </h1>
  <p> Камерная дезинфекция – метод уничтожения патогенных микроорганизмов на изделиях, которые невозможно обработать обычным способом. Для этого используют специальные  аппараты или устройства — дезинфекционные камеры.
  </p></div>
  <div id="about"><p>
<span class="ec ec-bulb"></span> Дезинфекционные камеры обеспечивают <b>надежное</b> обеззараживание или дезинсекцию одежды, постельных принадлежностей, шерсти, ковров, утильсырья, книг и других вещей. Все иные методы обеззараживания мягких вещей, кроме кипячения, не гарантируют полноты дезинфекции и дезинсекции, а обеззараживание кипячением неприемлемо для верхней одежды, постельных принадлежностей (подушки, одеяла, матрацы) и некоторых других мягких вещей. В дезинфекционных камерах используют физические (водяной пар, паровоздушная смесь, сухой горячий воздух), химические (формальдегид и др.) или одновременно и те и другие дезинфицирующие средства.
    </p></div>
    <div id="about"><p>
<span class="ec ec-bulb"></span> Камерная дезинфекция — это процедура обеззараживания вещей, обуви, постельных принадлежностей в специальных дезинфекционных камерах. Под действием дезинфектантов <b>гибнут микробы, а также яйца и личинки насекомых</b> на зараженных объектах.
      </p></div>
    <div id="about"><p>
<span class="ec ec-bulb"></span> Камерная дезинфекция, в первую очередь, необходима для вещей из очагов инфекции при грибковых заболеваниях, холере, туберкулезе, чесотке и других инфекциях. Также обеззараживание рекомендуется проводить в целях профилактики на объектах, где одними и теми же вещами пользуется большое количество здоровых и больных людей.
      </p></div>  
    <div id="about">
<h2><span class="ec ec-bulb"></span> Мы проводим камерную дезинфекцию для таких организаций, как:</h2>
<p><b>∙образовательные учреждения (детские сады, школы, лагеря);</b><br>
<b>∙гостиницы и общежития;</b><br>
<b>∙лечебно-медицинские заведения (санатории, больницы, поликлиники);</b><br>
<b>∙торговые точки, где реализуются товары, бывшие в употреблении (так называемые «secondhand»).<br></b> </p>
<p> Кроме того, работаем в частных жилых помещениях и на промышленных предприятиях.</p></div> 
    <div id="about"><p>
      <span class="ec ec-bulb"></span><p> Для большинства заказчиков мы уже давно стали постоянным партнером. Обращайтесь к нам, тогда ни у одного микроба не останется шанса выжить. О Вашей безопасности позаботится бригада квалифицированных сотрудников с большим опытом работы. </p>
</div>
