<% provide(:title, "Реализация средств") %>
<div id="uppera">
  <div id="about">
  <%= image_tag("dez.jpg") %>
  <h1> Реализация средств </h1>
  <p><span class="ec ec-bulb"></span> Мы предлагаем населению, учреждениям и предприятиям любой формы собственности широкий спектр дезинфекционных средств. У нас всегда в наличии разнообразные дезинфекционные средства – родентициды, инсектициды и дезинфектанты, разрешенные для реализации и предназначенные для использования в быту. При помощи, которых Вы самостоятельно сможете решить возникшие проблемы с грызунами, членистоногими или произвести дезинфекцию на <b> различных объектах: </b></p></div>  
  <div id="about">
    <p><b>∙в лечебно-профилактических учреждениях (ЛПУ);</b><br>
      <b>∙в учреждениях образования и дошкольных учреждениях;</b><br>
        <b>∙на коммунальных объектах (в гостиницах, на рынках, в салонах красоты, парикмахерских, саунах, банях, бассейнах);</b><br>          <b>∙предприятиях торговли;</b><br>
            <b>∙объектах общепита;</b><br>
              <b>∙в производственных цехах предприятий пищевой промышленности;</b><br>
                <b>∙источников водоснабжения населения.</b></p></div>    
  <div id="about"><p> 
    <span class="ec ec-bulb"></span> Первым в Чувашской Республике наше предприятие начало продвижение на рынок дезинфицирующих средств<b> высокоэффективных, наиболее безопасных, универсальных и недорогих</b> препаратов для борьбы с внутрибольничными инфекциями (ВБИ) в региональных ЛПУ, проведение дезинфекционных мероприятий в очагах инфекционных заболеваний, в т.ч. вызванных возбудителями особо опасных инфекций, обеззараживания технологического оборудования в колбасных, молочных и др. цехах предприятий производящих и реализующих пищевую продукцию.
  </p></div>
  <div id="about"><p> 
<span class="ec ec-bulb"></span> Все реализуемые нами препараты сертифицированы, зарегистрированы в установленном порядке, соответствуют требованиям нормативной документации для различных категорий объектов.
    </p></div>
  <div id="about"><p> 
<span class="ec ec-bulb"></span> Обращаясь к нам,  Вы получаете полную консультацию по применению инсектицидных препаратов, применяемых для борьбы с вредными бытовыми насекомыми  (мухи, тараканы, блохи, вши, комары, осы и др.) в виде различных форм (жидкости, гели, смачивающиеся порошки, и др.), а также других средств обработки, в том числе открытых территорий. Наши сотрудники прошли специальную подготовку в области дезинфектологии.
    </p></div> 
  <div id="about"><p> 
    <span class="ec ec-calling"></span> На все возникшие у Вас вопросы, готовы ответить в удобное для Вас время, по телефонам:<br> <a href="tel:516715"><b>∙51-67-15,</b></a><br><a href="tel:516725"><b>∙51-67-25,</b></a><br><a href="tel:516719"><b> ∙51-67-19. </b></a></p>
  </div>
  </div>
