<% provide(:title, "Реализация средств") %>
<div id="d">
  <%= image_tag("dez.jpg") %>
  <h1> Реализация средств </h1>
  <p> Мы предлагаем населению, учреждениям и предприятиям любой формы собственности широкий спектр дезинфекционных средств. У нас всегда в наличии разнообразные дезинфекционные средства – родентициды, инсектициды и дезинфектанты, разрешенные для реализации и предназначенные для использования в быту. При помощи, которых Вы самостоятельно сможете решить возникшие проблемы с грызунами, членистоногими или произвести дезинфекцию на <b> различных объектах: </b><br></p>
  <p>∙в лечебно-профилактических учреждениях (ЛПУ);<br>
∙в учреждениях образования и дошкольных учреждениях;<br>
∙на коммунальных объектах (в гостиницах, на рынках, в салонах красоты, парикмахерских, саунах, банях, бассейнах);<br>
∙предприятиях торговли;<br>
∙объектах общепита;<br>
∙в производственных цехах предприятий пищевой промышленности;<br>
∙источников водоснабжения населения.<br></p>
  <p> Первым в Чувашской Республике наше предприятие начало продвижение на рынок дезинфицирующих средств высокоэффективных, наиболее безопасных, универсальных и недорогих препаратов для борьбы с внутрибольничными инфекциями (ВБИ) в региональных ЛПУ, проведение дезинфекционных мероприятий в очагах инфекционных заболеваний, в т.ч. вызванных возбудителями особо опасных инфекций, обеззараживания технологического оборудования в колбасных, молочных и др. цехах предприятий производящих и реализующих пищевую продукцию.
  <br>
Все реализуемые нами препараты сертифицированы, зарегистрированы в установленном порядке, соответствуют требованиям нормативной документации для различных категорий объектов.
<br>
Обращаясь к нам,  Вы получаете полную консультацию по применению инсектицидных препаратов, применяемых для борьбы с вредными бытовыми насекомыми  (мухи, тараканы, блохи, вши, комары, осы и др.) в виде различных форм (жидкости, гели, смачивающиеся порошки, и др.), а также других средств обработки, в том числе открытых территорий. Наши сотрудники прошли специальную подготовку в области дезинфектологии.
<br>
На все возникшие у Вас вопросы, готовы ответить в удобное для Вас время, по телефонам:<br> <b>∙51-67-15,</b><br><b>∙51-67-25,</b><br><b> ∙51-67-19. </b></p>
</div>
